@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500;700&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: 'raleway',sans-serif;
    font-weight: 500;
    margin: 0;
    background-color: #e5e5e5;
}

.top-line {
    background-color: #42b883;
    height: 12px;
    width: 100%;
}

.container {
    max-width: 100%;
    margin: 0 auto;
}

.row {
    display: flex;
}

.nav {
    align-items: center;
    justify-content: center;
    gap: 2em;
    padding: 1em;
}

nav {
    gap: 2em;
}

nav ul {
    padding: 0;
    list-style: none;
    align-items: center;
    gap: 2em; 
    font-family: 'raleway', sans-serif;
}

ul li {
    font-size: 18px;
}

a {
    display: inline-block;
    text-decoration: none;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -ms-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
}

.logo {
    font-weight: 700;
    color: #5e3555;
    font-size: 36px;
    font-family: 'oooh Baby', cursive;
}

.primary-link {
    background-color: #35495e;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.primary-link a {
    color: #fff;
    padding: 0.7em 2em;
}

.active-btn {
    background-color: #fff;
    color: #35495e !important;
    border: 2px solid #35495e;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.y-btn {
    align-items: center;
    gap: 0.2em;
    background-color: #d42323;
    border: 2px solid #d42323;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.secondary-link a {
    color: #35495e;
    padding: 0.2em 0;
}

.hero-body {
    background: linear-gradient(270deg, #3b7a6f 2%, rgba(66, 184, 131, 0) 90%), url(https://images.unsplash.com/photo-1586289883499-f11d28aaf52f?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 82vh;
    justify-content: flex-end;
   
}

.content {
    max-width: 40%;
    align-items: center;
    /* flex-wrap: wrap; */
}

.content div {
    padding: 0 2.5em;
}

.hero-body h1 {
    color: pink;
    font-size: clamp(70px, 4vw, 91px);
    margin: 0;
    font-family: 'raleway',sans-serif;
}

.hero-body p {
    color: black;
    font-size: clamp(30px, 4vw, 48px);
    margin-top: 30px;
    font-family: raleway, sans-serif;
}

.btn {
    color: white;
    font-size: 26px;
    background-color: hotpink;
    padding: 0.7em 1em;
    border-radius: 70px;
    -webkit-border-radius: 70px;
    -moz-border-radius: 70px;
    -ms-border-radius: 70px;
    -o-border-radius: 70px;
    font-family: 'raleway',sans-serif;
    margin-top: 50px;
}

a:hover {
    opacity: 0.7;
    color: rgb(167, 43, 105);
}

@media screen and (max-width:1200px) {
    .toggleMenu {
        position: absolute;
        right: 15px;
        background-image: url(./bars-solid.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 30px;
        width: 30px;
        height: 30px;
        padding: 2em;
        z-index: 1000;
    }

    .toggleMenu.active {
        position: fixed;
        background-image: url(./times-solid.svg);
        background-size: 25px;
    }

    .navigation {
        justify-content: center;
        align-items: center;
        transform: scale(1, 0);
        -webkit-transform: scale(1, 0);
        -moz-transform: scale(1, 0);
        -ms-transform: scale(1, 0);
        -o-transform: scale(1, 0);
        transform-origin: top;
        max-height: 0;
        opacity: 0;
    }

    .navigation.active {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        transform: scale(1, 1);
        -webkit-transform: scale(1, 1);
        -moz-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        -o-transform: scale(1, 1);
        max-height: 100%;
        opacity: 1;
        z-index: 999;
        background-color: #35495e;
    }

    .nav {
        justify-content: flex-start;
    }

    nav {
        flex-direction: column;
    }

    .primary-link {
        flex-direction: column;
        align-items: center;
    }

    .secondary-link a{
        color: #fff;
    }
}

@media screen and (max-width:800px) {
    .content {
        max-width: 100%;
    }
 
    /* Adoption Page */
}							

.loginbutton {
   color: white;
}

.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* this allows the cards to stack on each other in a smaller viewport */
}

.card {
    background: white;
    width: 220px;
    margin: 20px;
    border-radius: 15px;
    
}

.card-image {
  
    height: 200px;
    margin-bottom: 15px;
    background-size: cover;
    border-radius: 15px 15px 0 0;
}

.adopt-1 {
    background-image: url("https://images.pexels.com/photos/7716390/pexels-photo-7716390.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500");
}

.adopt-2 {
    background-image: url(https://images.pexels.com/photos/6001209/pexels-photo-6001209.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
}

.adopt-3 {
    background-image: url(https://images.pexels.com/photos/979503/pexels-photo-979503.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500);
}


.card h2 {
    padding: 10px;
}

.card p {
    padding: 10px;
}
.card a {
    background-color: black;
    color: white;
    padding: 15px 20px;
    display: block;
    text-align: center;
    margin: 20px 50px;
}


*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'raleway', sans-serif;
}
:root {
    --mycolor: rgb(255,0,140)
}
footer {
    width: 100%;
    
    bottom: 0px;
    background: rgb(21,22,26);
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    color: #fff;
    padding: 10px;
    
}
.text {
    font-size: 28px;
    font-weight: bold;
    margin: 40px auto;
}
footer input[type='email']{
    width: calc(100vw - 40vw);
    font-size: 25px;
    padding: 10px;
    border-radius: 30px 0 0 30px;
    outline: none;
    border: none;
    color: var(--mycolor);
}
footer input[type='submit']{
    border: none;
    outline: none;
    border-radius: 0 30px 30px 0;
    padding: 10px;
    color: #fff;
    background: var(--mycolor);
    font-size: 25px;
    cursor: pointer;
}
footer input:hover[type='submit'] {background: rgb(219, 3, 154);}
.list-footer {
    margin: 40px auto;
    display: flex;
    list-style-type: none;
}
.list-footer li a {
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    padding: 20px;
}
.list-footer li a:hover{color: var(--mycolor);}

.social-media {
    margin: 20px auto;
}
.social-media i {
    padding: 20px;
    font-size: 25px;
    color: #fff;
}
.social-media i:hover{
    color: rgb(2,255,171);
}

@media(max-width:810px){
    .text ,  footer input[type='email'] ,
    footer input[type='submit'] {
        font-size: 20px;
    }
    .list-footer li a {
        padding: 15px;
        font-size: 15px;
    }
    .social-media i {
        padding: 10px;
    }
}
@media(max-width:610px){
    .text ,  footer input[type='email'] ,
    footer input[type='submit'] {
        font-size: 14px;
    }
    .list-footer li a {
        padding: 10px;
        font-size: 12px;
    }
    .social-media i {
       font-size: 15px;
    }
}
@media(max-width:470px){
    .text {
        font-size: 12px;
    }
    .list-footer li a {
        padding: 5px;
    }
}
@media(max-width:330px){
    .text {
        font-size: 10px;
    }
}

/*BODY*/


.container {
    position: relative;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 30px;
  }
  
  img {
      margin-top: 50px;
      margin-left: 20px;
      box-shadow: hotpink 0px 19px 38px, hotpink 0px 15px 12px;
      border-radius: 15%;
      animation: mymove 5s infinite;
      flex-wrap: wrap;
      align-items: center;
     
  }

  .ferret h1{
      position: relative;
      margin-left: 50px;
  }
  .fb {
    background-color: #3B5998;
    color: white;
  }
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
  .col {
    float: left;
    width: 50%;
    margin: auto;
    padding: 0 50px;
    margin-top: 6px;
  }
 

  /*facebook submit button */

  .h2, .username {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; 
    margin-top: 50px;
  }
  .h2, .password {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 20px;
    text-decoration: none; 
  }
  .h2, .submit {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 30px;
    text-decoration: none; 
  }
  .fb, fblogin {
    width: 150%;
    padding: 12px;
    border: none;
    border-radius: 4px;
    margin: 5px 0;
    opacity: 0.85;
    display: inline-block;
    font-size: 17px;
    line-height: 30px;
    text-decoration: none;   
    
  }
 

  .bg-modal {
	background-color: rgba(0, 0, 0, 0.8);
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
    display: flex;
	justify-content: center;
	align-items: center;
    display: none;
}

.modal-contents {
	height: 500px;
	width: 600px;
	background-color: black;
	text-align: center;
	padding: 20px;
	position: relative;
	border-radius: 15px;
}

input {
	margin: 15px auto;
	display: block;
	width: 50%;
	padding: 20px;
	border: 1px solid gray;
    border-radius: 5px;
   
}

.email {
    margin-top: 20px;
}

.close {
	position: absolute;
	top: 2px;
	right: 10px;
	font-size: 42px;
	color: #333;
	transform: rotate(45deg);
	cursor: pointer;
}
.close:hover {
    color: palevioletred;
}
#hello {
    cursor: pointer;
}
.modal-submit {
    margin-top: 5px;
}
.modal-image {
    margin-top: 10px;
}